<div class="backdrop" (click)="closeModalbtn()"></div>
<dialog open>
  <h2>Añadir tarea</h2>
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="title">Titulo</label>
      <input type="text" id="title" name="title" [(ngModel)]="title" />
    </p>

    <p>
      <label for="summary">Descripción</label>
      <textarea
        id="summary"
        rows="5"
        name="summary"
        [(ngModel)]="summary"
      ></textarea>
    </p>

    <p>
      <label for="due-date">Fecha de vencimiento</label>
      <input type="date" id="due-date" name="due-date" [(ngModel)]="dueDate" />
    </p>

    <p class="actions">
      <button type="button" (click)="closeModalbtn()">Cancelar</button>
      <button type="submit">Crear</button>
    </p>
  </form>
</dialog>
